body {
    margin: 0;
    font-family: "Tahoma", sans-serif;
    background: linear-gradient(to bottom, #e6f7f1, #d0f0e5); /* خلفية أخضر فاتح مائل للأبيض */
    color: #14532d; /* أخضر غامق للنص */
    text-align: center;
}

header {
    padding: 30px 10px;
    background-color: #16a34a; /* أخضر هادي */
    color: white;
    position: relative;
}

header::before {
    content: "☪"; /* رمز إسلامي */
    position: absolute;
    left: 10px;
    font-size: 30px;
}

h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.duaa-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: #ffffff; /* بطاقات بيضاء */
    padding: 20px;
    margin: 15px;
    width: 85%;
    max-width: 600px;
    border-radius: 15px;
    border: 2px solid #22c55e; /* إطار أخضر */
    box-shadow: 0 5px 15px rgba(0, 128, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 128, 0, 0.3);
}

.card h2 {
    color: #15803d;
    font-size: 20px;
    margin-bottom: 15px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #22c55e;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: #15803d;
}

#counter {
    font-size: 24px;
    font-weight: bold;
}

footer {
    margin-top: 30px;
    padding: 15px;
    background-color: #16a34a;
    color: white;
    font-weight: bold;

}



@media (min-width: 1024px) {
  .menu { font-size: 18px; }
}


@media (min-width: 768px) and (max-width: 1023px) {
  .menu { font-size: 16px; }
}


@media (max-width: 767px) {
  .menu { font-size: 14px; }
  .container { flex-direction: column; }
}
